# Ambiente de Teste/Dev com banco em container
DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=dbBanco
DB_USER=usuario
DB_PASSWORD=senha

# Full connection URL for Prisma/clients
DATABASE_URL=mysql://usuario:senha@host.docker.internal:3306/dbBanco

JWT_SECRET=sid-drogamais-jwt-secret-2026-secure-sso
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
SUPER_ADMIN_EMAILS="ti@drogamais.com.br,inteligencia@drogamais.com.br"
ACCESS_TOKEN_EXPIRY="15m"

PORT=8003